@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto');

body{
	margin:0;
	padding:0;
	background-size: cover;
	background-position: center;
	font-family: 'Roboto', sans-serif;
	background-color: lightblue;
}

/* Login page */
#login-wrapper{
	width: 100vw;
	height: 100vh;
}
.login-box{
	width: 320px;
	position:relative;
	margin: 0 auto;
	background-color:white;
	padding: 60px 30px;
	display:block;
	top: 50%;
	transform: translateY(-50%);
	border:2px solid black;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
}

textarea, input{
	width: 100%;
}
textarea, input[type ="text"]
{
	border: none;
	background: transparent;
	outline: none;
	height: 40px;
	color:black;
	font-size: 16px;
	border-bottom:2px solid lightgray;
	padding:0px;
}

textarea, input[type ="text"]:focus
{
	border-color:black;
}
.login-box input[type ="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 20px;
}
.login-box input[type ="submit"]:hover
{
	cursor: pointer;
	background:#39dc79;
}
.login-box a{
	text-decoration: none;
	font-size: 14px;
	color:#1c8adb;
}
.login-box a:hover
{
	color: #39dc79;
	text-decoration: underline;
}

.login-box p{
	margin:0; padding:0;
	margin-top:15px;
}

.login-box .label {
	text-transform: uppercase;
	font-size:.8em;
	margin-bottom:20px;
	margin-top:2px;
	color:lightgray;
}

form{
	margin:0; padding:0;
}

/* Dashboard/home */
#status ul, #feed ul, nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: black;
	padding:10px 0px;
	padding-right:10px;
}

nav ul li {
	float:left;
	line-break: 200px;
	vertical-align: middle;
}

#status ul li, #feed ul li, nav ul li a {
	display: inline-block;
    color: white;
	text-decoration: none;
	margin:auto;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	vertical-align: middle;
}

.title-text{
	padding-top:2px;
}

nav ul li a img{
	height: 40px; width: 40px;
	margin:0;
	margin-left:10px;
}

.logo {
	margin-right:10px;
}

#status {
	padding: 10 20px;
	padding-bottom:0;
	background-color:white;
}

#status .submit {
	margin:0;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 1.5px;
    background-color: black;
    border: none;
    color: white;
	height: 50px;
	width: 120px;
    text-align: center;
    text-decoration: none;
	font-size: 18px;
	float:right;
    cursor: pointer;
}

#status .submit:hover{
	background-color: #1c8adb;
}

#status .submit:focus{
	outline:none; border:none;
}

#status ul {
	margin:0; padding:0;
	padding-top:10px;
	background-color:white;
}

#status ul li {
	margin-right:10px;
}

#status ul li svg {
	width: 50px; height:50px;
	fill: gray;
}
#status ul .submit-li { 
	float:right;
	margin:0px;
}

#status ul li svg:hover{
	fill:#1c8adb;
}
#status ul .chosen svg{
	fill:black;
}

#home-wrapper{
	border:1px solid red;
	height:100%;
}

#status, #feed {
	margin: 10px;
	border:2px solid black;
}

/* Add auto-resize in JS */
textarea{
	height:auto;
	padding:10px 0;
	margin:2px 0px;
}

#feed {
	margin-top:0px;
	background-color:white;
}

#feed ul {
	padding:0;
	margin:0;
}

#feed ul li {
	float:left;
	padding:0;
	margin:0;
	color: white;
	background-color:black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	display:block;
	padding:10px 0px;
	text-align: center;
	box-sizing:border-box;
	border-left: 1px solid white;
	border-right:1px solid white;
	width:25%;
}

#feed ul li:first-child{
	border-left:none;
}

#feed ul li:last-child{
	border-right:none;
}

#feed ul li:hover{
	background-color:#1c8adb;
}

#feed ul .active {
	color: black;
	background-color:white;
}

#feed ul .active:hover {
	color: black;
	background-color:white;
}

.post {
	background-color: lightgray;
	margin: 0 auto;
	margin: 20px;
}