body{
	margin:0;
	padding:0;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	background-color: lightblue;
}

#login-wrapper{
	width: 100vw;
	height: 100vh;
}
.login-box{
	width: 320px;
	position:relative;
	margin: 0 auto;
	background-color:white;
	padding: 60px 30px;
	display:block;
	top: 50%;
	transform: translateY(-50%);
	border:2px solid black;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box input{
	width: 100%;
}
.login-box input[type ="text"]
{
	border: none;
	background: transparent;
	outline: none;
	height: 40px;
	color:black;
	font-size: 16px;
	border-bottom:2px solid grey;
	padding:0px;
}

.login-box input[type ="text"]:focus
{
	border-color:black;
}
.login-box input[type ="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-weight:bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 20px;
}
.login-box input[type ="submit"]:hover
{
	cursor: pointer;
	background:#39dc79;
}
.login-box a{
	text-decoration: none;
	font-size: 14px;
	color:#1c8adb;
}
.login-box a:hover
{
	color: #39dc79;
	text-decoration: underline;
}

.login-box p{
	margin:0; padding:0;
	margin-top:15px;
}

.login-box .label {
	text-transform: uppercase;
	font-size:.8em;
	margin-bottom:20px;
	margin-top:2px;
	color:gray;
}

form{
	margin:0; padding:0;
}